body
{
  color: white;
  background: #c0d3ff;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 200px;
  height: 200px; 
}
#result_emotion_name ,#result_emotion_name2  
{
  color: black;
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}
.heading{
  font-size:25px;
  border:3px;
  border-radius:20px;
  letter-spacing:10px;
}
label{
  color:black;
  background-color:blue;
  font-size:15px;
  padding:5px;
  border-radius:3px;
}